@import "../../../styles/_theme.scss";

body {
  margin: 0px;
}
.sidebar {
  background-color: $sidebar-bg;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  height: 100%;
}
.sidebar .sidebar-header {
  color: #fff;
  text-align: left;
  padding-left: 25px;
  line-height: 58px;
  font-size: 16px;
}

.sidebar .sidebar-menu {
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar .sidebar-menu > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 15px;
}
.bb {
  border-bottom: 1px solid #575c60 !important;
}
.sidebar .sidebar-menu li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  display: block;
}

.sidebar .sidebar-menu > li > a i {
  margin-right: 5px;
  font-size: 16px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sidebar .sidebar-menu > li > a i.arrow {
  font-size: 20px;
}
.sidebar .sidebar-menu .arrow {
  float: right;
  font-size: 18px;
  line-height: initial;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-right: 0;
}
.metismenu .arrow {
  float: right;
  line-height: 1.42857;
}
.report-container {
  background: $sidebar-bg;
  color: #fff;
}

.reports {
  margin-left: 6em;
}

.profile-sidebar {
  display: flex;
  flex-direction: row;
  height: 9.5rem;
  background: $sidebar-bg;
  color: #fff;  
}
.profile-pic {
  width: 35%;
  float: left;
}
.profile-info {
  display: flex;
  flex-direction: column;
  padding: 2rem 0rem 1rem 2rem;
  width: 100%;
  float: left;
}

.img-circle.profile_img {
  width: 110%;
//   background: #fff;
  margin-left: 33%;
  z-index: 1000;
  position: inherit;
  margin-top: 20px;
  border: 1px solid rgba(52, 73, 94, 0.44);
  padding: 4px;
}
.partition {
  height: 1.5rem;
}
.link {
    color: #edf1f7;
}