@import "../../../styles/_theme.scss";

body {
  margin: 0px;
}

.sidebar {
  background-color: $sidebar-bg;
  color: $sidebar-primary-text;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  height: 100%;
}

// .sidebar .sidebar-header {
//   color: $sidebar-primary-text;
//   text-align: center;
//   line-height: 6rem;
//   font-size: 4rem;
// }

// .sidebar .sidebar-header span:nth-child(2) {
//   color: $theme-color;
// }

.sidebar .sidebar-menu {
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar .sidebar-menu > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 15px;
}

.bb {
  border-bottom: 1px solid #575c60 !important;
}

.sidebar .sidebar-menu li a {
  padding-left: 1em;
  color: $sidebar-secondary-text;
  text-decoration: none;
  display: block;
}

.sidebar .sidebar-menu > li > a i {
  margin-right: 5px;
  font-size: 16px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar .sidebar-menu > li > a i.arrow {
  font-size: 20px;
}

.sidebar .sidebar-menu .arrow {
  float: right;
  font-size: 18px;
  line-height: initial;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-right: 0;
}

.metismenu .arrow {
  float: right;
  line-height: 1.42857;
}

.report-container {
  background: $sidebar-bg;
  color: $sidebar-primary-text;
}

.reports {
  text-align: center;
  // border-bottom: 0.1em solid $theme-color;
}

.project-info {
  color: $sidebar-primary-text;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.project-name {
  font-size: 2rem;
  margin-right: 1em;
}

.project-date {
  font-size: 1rem;
}

.project-dropdown-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $theme-color;
}

.project-dropdown-content {
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.project-dropdown-content.reveal {
  height: 4em;
  padding-bottom: 7em;
  padding-left: 1em;
}

.img-circle.profile_img {
  width: 110%;
  //   background: #fff;
  margin-left: 33%;
  z-index: 1000;
  position: inherit;
  margin-top: 20px;
  border: 1px solid rgba(52, 73, 94, 0.44);
  padding: 4px;
}

.partition {
  height: 1.5rem;
}

.link {
  color: #edf1f7;
}

.setting {
  cursor: pointer;
}
.navActiveStyle {
  padding-left: "1em";
  border-left: "0.5em solid green";
}
.add-project {
  padding: 0.5em 0.7em;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.fa-align {
  padding: 2px 4px;
}

@media only screen and (max-width: 992px) {
  .nav-container.responsive {
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .nav-container.reveal {
    height: auto;
  }
}
// .project-list {
//     overflow-y: scroll;
//     // height: 4em;
// }
.project-list-scroll {
    overflow-y: scroll;
    height: 4em;
}