@import "../../../styles/_theme.scss";
.sidebar-main-container {
  margin-top: -20px;
  background-color: $secondary-bg;
  .panel {
    margin-bottom: 0px !important;
    .panel-heading {
      .panel-heading-container {
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
      }
      .project-summary {
        display: flex;
        justify-content: space-around;
        font-size: 12px;
        margin: 10px 0px;
        .fa.fa-calendar::before {
          content: "\f073" !important
        }
      }
    }
    .panel-body-custom {
      max-height: 81vh;
      min-height: 81vh;
      padding: 0px;
      padding-right: 0px;
      display: flex;
      flex-direction: column;
      .accordion-button {
        width: 100%;
        display: flex;
        padding-top: 12px;
        padding-bottom: 12px;
        font-weight: lighter; // font-size: 1px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-image: linear-gradient(to bottom, #565656 0, #131313 100%) !important;
        color: white;
        text-shadow: none;
        border-color: #343434;
        border-bottom: none;
        background-position: 0px 0px !important;
        border-radius: 0px;
        &:hover {
          // background-color: #121212 !important;
          // background-image: none;
          background-image: linear-gradient(to bottom, #121212 0, #131313 100%) !important;
          border-color: none;
        }
        &:clicked {
          background-image: linear-gradient(to bottom, #121212 0, #131313 100%) !important;
        }
        &:focus {
          // border-color: $theme-color;
          outline: none;
        }
      }
      .accordion-button-active {
        background-image: linear-gradient(to bottom, #121212 0, #131313 100%) !important; // color: $theme-color;
        // font-weight: bold;
      }
      .well {
        border-color: #343434;
        border-radius: 0px;
        border-top: none;
        background-image: none;
        background-color: #121212;
        color: white;
        padding: 0px 10px;
        padding-bottom: 20px;
        ul {
          list-style-type: none;
          padding-left: 0px;
          li {
            padding: 0px; // padding: 10px 0px 10px 15px;
            border: 1px solid #343434;
            border-radius: 4px;
            margin-bottom: 10px;
          }
        }
      }
    }
    .panel-title {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    .project-name-container {
      color: white;
    }
  }
  .navlink {
    background-image: linear-gradient(to bottom, #222222 0, #121212 100%) !important; // color: $theme-color;

    display: block;
    flex: 1;
    padding: 10px 0px 10px 15px;
    color: #9a9a9a;
    &:hover {
      text-decoration: none;
      color: white;
    }
    &:focus {
      text-decoration: none;
    }
  }
  .navlink-active {
    border-left: 2px solid $theme-color;
    color: $theme-color !important;
    text-decoration: none;
  }
}
