.homepage-container {
  background-image: url("../../../assets/images/Homepage/homepage-bg.jpg");
  height: 100vh;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  padding-bottom: 5em;
  background: white;
}

.login-form {
}
.login-signup{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.ls-content{
    display: flex;
    flex-direction: row;
}
.login-btn{
    height: 42px;
    width: 230px;
}

.signup-button {
    width: 227px;
}