@import "./../../../styles/_theme.scss";

.homepage-container {
  height: 100vh;
  background-color: #B1C0CB;
  overflow: hidden;
}

.background-alpha {
  padding: 100px;
  background-image: url("../../../assets/images/Homepage/coding.gif");
  background-attachment: fixed;
  background-size: 40%;  
  background-position: 15% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  box-shadow: inset -1px -1px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-text-container {
  padding-bottom: 20em;
  // color: white;
 }

.welcome-text-lg {
  font-size: 4em;
}
.welcome-text-sm {
  font-size: 1.3em;
  text-align: right;
}

// TODO: Make this Global
.codin {
  font-weight: bold;
}
.codin span {
  color:green;
}

.login-signup-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  background-color: white;
  padding: 2em 4em;
}

.login-signup-button-container {
  display: flex;
}
.ls-content {
  display: flex;
  flex: 1;
  width: 41%;
  flex-direction: row;
}
.login-btn {
  // background: white;
  cursor: pointer;
  height: 42px;
  width: 100%;
}

.signup-btn {
  cursor: pointer;
  // background: white;
  width: 100%;
}

.border-bottom {
  border-bottom: 7px solid $theme-color;
}

.grid-container {
  margin-top: 16em;
  margin-left: 48em;
}

.login-signup {
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s ease;
}

.login-signup.reveal {
  max-height: 35em;
}
