@import '../../styles/_new_colors.scss';

.change-password-modal-body {
  display: flex;
  flex-direction: row;
  .form-container {
    padding: 0px !important;
    min-width: 300px;
    max-width: 300px;
    background-image: none !important;
  }
  .left, .right {
    padding: 10px;
  }
  .right {
    text-align: center;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    div {
      margin: 0 auto;
    }
  }
}

.invalid-field {
  border-color: red !important;
}
