.tslint-row-group {
  padding: 1em;
  display: flex;
}

.tslint-row-group > .tslint-col {
  display: flex;
}

.tslint-row-group.tslint-bar {
  height: 22em;
}

.tslint-row-group.tslint-bar:hover {
  height: auto;
}

.tslint-row-group:last-child {
  margin-bottom: 3em;
}
