
$black: #000000;

$grey_normal: #212121;
$grey_muted: #303030;
$grey_disabled: #424242;

$text_high_emphasis: rgba(255,255,255,0.87);
$text_medium_emphasis: rgba(255,255,255,0.60);
$text_disabled: rgba(255,255,255,0.38);
$text_errors: #b00020;

$primary_color: green;

$text_info: #007bff;
$text_warning: #ffc107;
