@import '~react-redux-toastr/src/styles/index.scss';

$primary-text: white;
$secondary-text: white;
$primary-bg: #0c0c0c;
$secondary-bg: #343434;
$card-bg: #181818;
$card-heading-text: white;
$sidebar-bg: #181818;
$sidebar-primary-text: white;
$notif-dot: red;
$sidebar-secondary-text: rgba(255, 255, 255, 0.5);
// $content-bg: #42413D;
$content-bg: #1a1a1d;
$navbar-bg: #0c0c0c;
$theme-color: green;
@font-face {
  font-family: FiraCode;
  src: url("../../../assets/fonts/firacode/FiraCode-Light.ttf");
}

body {
  font-family: "FiraCode";
  background: $content-bg !important;
}

.reset-col-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.text-bold {
  font-weight: bold;
}

.dropdown-menu.dropdown-menu-right {
  border-radius: 0;
}




/* width */
::-webkit-scrollbar {
  width: 2px;
  border-radius: 1px;
}
::-webkit-scrollbar-track {
  background: $secondary-bg;
}
::-webkit-scrollbar-thumb {
  background: $theme-color;
}
::-webkit-scrollbar-thumb:hover {
  background: $theme-color;
}
