@import '~react-redux-toastr/src/styles/index.scss';

$primary-text: white;
$secondary-text: white;

$primary-bg: #0c0c0c;
$secondary-bg: #242424;

$card-bg: #181818;
$card-heading-text: white;

$sidebar-bg: #181818;
$sidebar-primary-text: white;
$notif-dot: red;
$sidebar-secondary-text: rgba(255, 255, 255, 0.5);

$content-bg: #242424;

$navbar-bg: #0c0c0c;

// $theme-color-
$theme-color: green;

@font-face {
  font-family: FiraCode;
  src: url("../../../assets/fonts/firacode/FiraCode-Light.ttf");
}

body {
  font-family: "FiraCode";
}

.dropdown-menu.dropdown-menu-right {
  border-radius: 0;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $secondary-bg;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $theme-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $theme-color;
}
