@import "../../../styles/_theme.scss";

.header {
  background-color: $card-bg;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .header-block-nav {
  margin-left: auto;
  white-space: nowrap;
  padding-right: 15px;
}

.header .header-block-nav > ul {
  display: table;
}
.header .header-block-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-profile {
  display: flex !important;
  flex-direction: row !important;
}

.navbar-row {
  width: 100%;
}
.project-container {
  float: left;
  padding: 1em;
}
.profile-container {
  padding: 1em;
}
.profile-custom {
  float: right;
  padding-right: 2em;
  display: flex;
  flex-direction: row;
}

.logo-container {
  color: $primary-text;
  text-align: center;
  line-height: 6rem;
  font-size: 4rem;
}

.logo-container span:nth-child(2) {
  color: $theme-color;
}

@media only screen and (max-width: 992px) {
  .profile-container.responsive {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    padding: 0;
  }
  .profile-custom.responsive {
    padding: 0;
  }
}