@import "../../../styles/_variables.scss";
@import "../../../styles/_theme.scss";
.unseen-content {
  // background: $notif-dot;
  position: absolute;
  top: 10px;
  left: 24px;
  height: 14px;
  width: 14px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  font-size: 0.95rem;
  color: $primary-text;
}

.hide-unseen-count {
  font-size: 0rem !important;
  color: rgba(0, 0, 0, 0) !important;
}

.notification-dropdown {
  color: white;
  ul {
    background: #0f0f0f
  }
}

.no-notifications {
  text-align: center;
}

.notification-content {
  padding: 12px 20px;
  border-bottom: 1px solid rgba(154, 154, 154, 0.5);
  max-width: 350px;
  min-width: 350px;
  font-size: 1.3rem;
  .notification-highlight {
    // font-size: 1.35rem;
    color: $theme-color;
  }
}

.notification-content:last-child {
  border-bottom: none;
}

.btn-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-container button {
  font-size: 1.2rem;
}

.accept-container {
    font-size: 1rem;
    padding: 2px;
    display: flex;
    justify-content: space-around;
    color: green;
    font-weight: bold;
}

.decline-container {
    font-size: 1rem;
    padding: 2px;
    display: flex;
    justify-content: space-around;
    color: red;
    font-weight: bold;
}
