@import "../../../styles/_variables.scss";
@import "../../../styles/_theme.scss";
.notification-content {
  padding: 8px 20px;
  border-bottom: 1px dashed $theme-color;
  max-width: 25vw;
  min-width: 25vw;
}

.notification-content:last-child {
  border-bottom: none;
}

.btn-container {
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-container button {
  font-size: 1.2rem;
  font-weight: bold;
}
