@import "../../../styles/_variables.scss";
@import "../../../styles/_theme.scss";


.unseen-content {
    // background: $notif-dot;
    position: absolute;
    top: 10px;
    left: 24px;

    height: 14px;
    width: 14px;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: red;

    font-size: 0.95rem;    
    color: $primary-text;

}

.hide-unseen-count {
    font-size: 0rem !important;        
    color: rgba(0,0,0,0) !important;
}

.unseen-count {
    // padding-left: 2px;
}

// .notification-bell {
//     display: flex;
//     flex-direction: co
// }

.no-notifications {
  padding: 1em;
  width: 15em;
}


.notification-content {
  padding: 8px 20px;
  border-bottom: 1px dashed $theme-color;
  max-width: 25vw;
  min-width: 25vw;
}

.notification-content:last-child {
  border-bottom: none;
}

.btn-container {
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-container button {
  font-size: 1.2rem;
  font-weight: bold;
}

.accept-container {
    font-size: 1rem;
    padding: 2px;
    display: flex;
    justify-content: space-around;
    color: green;
    font-weight: bold;
}

.decline-container {
    font-size: 1rem;
    padding: 2px;
    display: flex;
    justify-content: space-around;
    color: red;
    font-weight: bold;
}