.showdiv {
  display: block;
}

.showdivnone {
  display: block;
}

.login-prompt {
  text-align: start;
  cursor: pointer;
  text-decoration: underline;
}

.form-action-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}