@import '../../../styles/_theme.scss';

.error-message {
  color: red;
}

.signup-prompt {
  text-align: start;
  cursor: pointer;
  text-decoration: underline;
}

// This is to remove the padding of the input fields.
.form-container .form-control {
  padding-left: 0px;
}

.form-action-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
