.dashboard-container {
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.sidebar-container {
  position: relative;
  padding: 0;
  height: 100vh;
  overflow-y: auto;
}

.navbar-and-content-container {
  padding: 0;
  height: 100vh;
}
