@import "../../styles/_theme.scss";
.navbar {
  border-radius: 0px;
}

.logo-container {
  font-size: 2.8rem;
  color: $primary-text !important;
  cursor: pointer;
}

.logo-container span {
  color: $theme-color;
}

.dropdown {
  ul {
    background: #0f0f0f;
    a {
      color: white;
      text-align: center;
      &:hover {
        background: #7a7a7a;
        color: white;
      }
    }
  }
}
